<launch>
  
  <!-- start the netft node -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="9090"/>
  </include>
  
  <!-- Serial node -->
    <node name="serial_node1"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyUSB1 "/>
    <param name="baud"              type="int"                  value="57600"/>
    </node>
    <node name="serial_node2"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyUSB2"/>
    <param name="baud"              type="int"                  value="57600"/>
    </node>

</launch>
